$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

$sakura: #b74271;

// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
// $btn-sakura-color:              $bodyFont;
// $btn-sakura-bg:                 $sakura;
// $btn-sakura-border:             darken($btn-sakura-bg, 5%);
// 
// .btn-sakura {
//   @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
// }
